.item-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    max-width: 340px;
}


.item-display button, .save-button {
    font-size: 1.2rem;
    padding: 4px 10px;
    border: 2px transparent solid;
    border-radius: 16px;
    box-shadow: unset;
}

.item-display button:hover {
    box-shadow: 1px 1px 9px 1px black;
}

.delete-button {
    background-color: rgb(205, 70, 70);
    color: white;
}
