.section {
    padding: 16px;
    /* border: 1px solid grey; */
    border-radius: 12px;
    /* box-shadow:  0px 2px 4px black; */
    background-color: white;
}

.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 16px; */
}

.open-button {
    font-size: 1.2rem;
    padding: 4px 10px;
    border: 2px transparent solid;
    border-radius: 16px;
    box-shadow: unset;
}