.input-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    gap: 12px;
    padding: 12px 0;

}

.input-field label {
    font-weight: bold;
}

.input-field input {
    border: unset;
    font-size: 14px;
    border: unset;
    border-radius: 8px;
    padding: 8px 6px;
    background-color: rgb(240, 240, 240);

}