.input-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 8px;
    padding: 8px 0;

}

.input-field label {
    font-weight: bold;
}

.input-field input {
    flex-grow: 1;
    flex-shrink: 2;
    font-family: inherit;
    font-size: 14px;
    border: unset;
    border-radius: 8px;
    padding: 8px 6px;
    background-color: rgb(240, 240, 240);

}

.input-field textarea {
    font-family: inherit;
    max-width: 292px;
    max-height: 160px;
    min-height: 60px;

    font-size: 14px;
    border: unset;
    border-radius: 8px;
    padding: 8px 6px;
    background-color: rgb(240, 240, 240);
}