.output {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.output .details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    
}